@page
@model DDLootApp.Pages.MonsterItems.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MonsterItem.ItemName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonsterItem.ItemName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonsterItem.ItemDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonsterItem.ItemDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonsterItem.ItemPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonsterItem.ItemPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonsterItem.ItemRarity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonsterItem.ItemRarity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonsterItem.Monster)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonsterItem.Monster.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MonsterItem.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
