


@page "{id:int?}"
@model DDLootApp.Pages.Monsters.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Monster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Monster.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Monster.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Monster.MonsterItems)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Item Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Rarity</th>
                </tr>
                @foreach (var item in Model.Monster.MonsterItems)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemRarity)
                    </td>
                    <td>
                        <a asp-page="/MonsterItems/Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="/MonsterItems/Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="/MonsterItems/Delete" asp-route-id="@item.ID">Delete</a>
                    </td>

                </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="/MonsterItems/Create">Create Item</a> |
    <a asp-page="./Edit" asp-route-id="@Model.Monster.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
